<form action="/" method="post">
	<label>
		Name -
	</label>
	<input type="text" name="addUser">
	<input type='submit' value="add user">
</form>
<form action="/" method="post">
	<label>
		Name -
	</label>
	<input type="text" name="removeUser">
	<input type='submit' value="remove user">
</form>
<form action="/users" method="post">
	<input type='submit' value="show users">
</form>